body
{
    margin-top: 25px;
}

.textBox, .tButton, textarea
{
    font-size: 18px;
}

textarea
{
    width: 75%;
}

.tButton
{
    width: 99%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.textBox
{
    width: 98%;
}
